/** colors */
$primary-color: #426da0 !default;
$primary-color-light: #52caff !default;
$danger-color: #f04134 !default;
$danger-color-light: #f46d63 !default;
$warn-color: #fa8c16 !default;
$warn-color-light: #ffd591 !default;
$success-color: #2dd1ac !default;
$success-color-light: #56dbbd !default;
$bg-color: #fff !default;
$bg-color-dark: #b5cfe5 !default;
$bg-color-darker: #b5cfe5 !default;
$light-gray: #e8e8e8 !default;
$gray: #d8d8d8 !default;
$text-color: #8998aa !default;
$text-color-dark: #4f677d !default;
$text-color-black: rgb(28, 28, 31) !default;
$text-color-blue: rgba(66, 109, 160, 1) !default;
$border-color: rgba(140, 160, 179, 0.15) !default;
$bg-row-color: #e6eef8 !default;
